<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} | TGIFelix</title>
    <meta name="author" content="{{metadata.author.name}}" />
    <meta name="description" content="{{metadata.description}}" />
    <link rel="shortcut icon" type="image/jpg" href="img/favicon.png"/>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
    {% set css %}{% include "style.css" %}{% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>

  <body>
    <header>
      <div class="nav">
        {%- for nav in collections.nav -%}
        <a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a><br />
        {%- endfor -%}
        <br />
        <a href="{{metadata.blog}}">Blog ⇲</a>
      </div>
    </header>
    <main>
      {{ content | safe }}
    </main>
  </body>
  
  {% set js %}{% include "script.js" %}{% endset %}
  <script>
    {{ js | jsmin | safe }}
  </script>

</html>