@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

html, body {
    padding: 0;
    margin: 0;
    font-family: "JetBrains Mono";
    color: black;
}

a, a:visited {
    color: black;
}

a:hover, a:active {
    animation: glitch 500ms infinite;
    font-style: italic;
}

@keyframes glitch {
    0% {
        text-shadow: 1px 1px red, -1px -1px blue;
    }
    25% {
        text-shadow: -1px -1px red, 1px 1px blue;
    }
    50% {
        text-shadow: 1px -1px red, -1px 1px blue;
    }
    75% {
        text-shadow: -1px -1px red, -1px -1px blue;
    }
    100% {
        text-shadow: -1px 0 red, 1px -1px blue;
    }
}

main {
    max-width: 50%;
    margin: 0 auto;
}

img {
    width: 100%;
}

#nav {
    padding: 0 25px;
    position: fixed;
}

@media screen and (max-width: 768px) {
    main {
        max-width: 90%;
    }
    iframe {
        max-width: 100%;
    }
    #nav {
        position: relative;
        top: 0;
        font-size: 0.8em;
        text-align: center;
    }
}
